*{
   margin: 0;
}
body{
   margin: 0;
   padding-top: 130px;
   background-color: aliceblue;
   font-family: sans-serif;
}
.container{
   max-width: 1070px;
   margin: auto;
   padding-bottom: 20px;
}
.footer{
    background-color: rgb(1, 1, 27);
   color: rgb(209, 209, 209);
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}
.foote h3{
   display: flex;
   font-weight: lighter;
   font-size: 15px;
   letter-spacing: 3cm;
}
@media screen and (max-width: 850px){
   body{
     padding-top: 90px;
   }
   .container{
   min-height: 400px;
}
}