*{
   margin: 0;
   padding: 0;
}
body{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}
.header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0px;
}
.nav-container{
   background: rgb(30, 30, 64);
   display: flex;
   justify-content: start;
   align-items: center; 
   height: 50px;
}
.Nav-bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
   width: 1080px;
}
.Nav-bar ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;

   height: 50px;
}
.Nav-bar ul li{
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-items: center; 
   height: 100%;
}
#logoutBtn:hover{
   background-color: rgb(169, 27, 3);
   color: white;
}
.Nav-bar ul li a{
  color: rgb(209, 209, 209);
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 3px; 
}

.Nav-bar ul li:hover{
   transition-duration: 0.5s;
}
.Nav-bar ul li a:hover{
  color: black;
  font-weight: bold;
  background-color: aliceblue;
}
#manage_staff{
   margin-right: 20%;
}
#logout{
   margin-right: 2%;
}
#dashboard{
   margin-left: 1%;
}

.img{
   height: 36px;
   width: 36px;
}

.bottom-title-container{
   background-color: rgb(1, 1, 27);
   color: lightgrey;
   height: 70px;
   justify-content: center;
   align-items: center;
}
.bottom-title-container div{
   max-width: 1100px;
   margin: auto;
   display: flex;
   align-items: center;
}
.bottom-title-container div h1{
   margin-left: 3px;
   margin-right: 40%;
   font-size: 25px;
   display: flex;
}
#menuButton:hover{
   cursor: pointer;
}
#menuBtn{
   cursor: pointer;
   display: none;
   color: rgb(231, 224, 224);
   width: 20;
   display: none;
}


@media screen and (max-width: 850px){
   .header{
      height: 90px;
   }
   .nav-container{
      height: 0px;
   }
   .Nav-bar{
      background: rgb(30, 30, 64);
      padding: 15px;
      border: none;
      height: 0px;
      display: none;
   }
   .Nav-bar ul li{
   list-style-type: none;
   display: flex;
   justify-content: start;
   align-items: center;
   }
   .Nav-bar ul{
      align-items: center;
      display:grid;
      
   }
    .Nav-bar ul li{
      margin-bottom: 7px;
      width: 100%;
      padding: 2px 5px;
   }
   .Nav-bar ul li:hover{
      margin-bottom: 7px;
      width: 100%;
      padding: 2px 5px;
      color: white;
      border-radius: 5px;
   }
   .Nav-bar ul li a:hover{
      font-size: 14px;
      text-decoration: none;
      font-weight: bold;
      padding: 1px;
      color: white;
      background: rgb(30, 30, 64);
    }
  .bottom-title-container{
      color: lightgrey;
      padding-top: 25px;
      height: 70px;
   }
 .bottom-title-container div{
      height: 40px;
      margin: auto;
      display: flex;
      align-items: center;
      height: 10px;
   }
   .bottom-title-container div h1{
      margin-left: 3px;
      margin-right: 40%;
      font-size: 17px;
   }
   #menuBtn{
      cursor: pointer;
      display: none;
      color: rgb(231, 224, 224);
      width: 20;
      display: block;
   }
   .new-menu{
      padding: 20px 10px;
      height: 220px;
      border: none;
      display: block;
   }
   #logoutBtn:hover{
       background-color: rgb(169, 27, 3);
      padding-left: 3px;
       padding-right: 3px;
   }
}