.form{
   display: grid;
   grid-template-columns: 45% 45%;
   column-gap: 2%;
   padding: 10px 10px;
   row-gap: 10px;
}
.form div{
   padding: 1px 3px;
   color: rgb(44, 43, 43);
}
.form div input, .option{
   margin-top: 3px;
   width: 100%;
   text-align: center;
   height: 27px;
   border-radius: 4px;
   border: 0.5px solid grey;
}
.form div label{
   font-size: 13px;
   font-weight: bolder;
}
.search-btn{
   background-color: rgb(86, 72, 236);
   color: white;
   width: 20%;
   border: 1px solid grey;
   border-radius: 3px;
   padding: 3px 10px;
  transition: 0.2s;
}
.search-btn:hover{
   background-color: rgb(58, 47, 172); 
   cursor: pointer;
}
.search-btn:active{
   opacity: 0.8;
}
.option:focus{
   background-color: aliceblue;
}
#container{
   background-color: white;
   padding: 20px 10px;
}
.print_button{
   padding: 4px 10px;
   background-color: rgb(233, 233, 233);
   border: 1px solid rgb(31, 31, 31);
   border-radius: 3px;
   color: rgb(0, 0, 0);
   transition: 0.1s;
   font-weight: bolder;
   font-size: 12px;
   margin-top: 6px;
   transition: 0.3s;
  
}
.print_button:hover{
    background-color: rgb(194, 194, 194);
   cursor: pointer;
}
.print_button:active{
  opacity: 0.3;
}
#tbody tr td{
   text-align: center;
}
.staff_table{
   width: 100%;
   border-collapse: collapse;
}
.staff_table thead tr{
   background: linear-gradient(to top, rgb(194, 185, 249), rgb(255, 255, 255));
   height: 35px;
   color: rgb(36, 32, 63);
}
.staff_table thead tr th{
   border: 1px solid rgb(138, 138, 138);
}
.row{
   border: 1px solid red;
    transform: 0.3s;
}
.row:hover{
  background-color: rgb(180, 236, 255);
   
}

.row td{
   border: 1px solid lightgrey;
   text-align: center;
   padding: 10px 10px;
   font-size: 15px;

}
.edit-button{
   height: 40px;
  font-size: 13px;
   color: white;
   background-color: rgb(28, 173, 8);
   transition: 0.3s;
   border-radius: 2px;
   padding: 5px 10px;
}
.edit-button:hover{
   background-color: darkgreen;
   cursor: pointer;
}
.edit-button:active{
   opacity: 0.3;
}