.form{
   padding: 8px 5px;
   display: grid;
   grid-template-columns: 45% 45%;
   row-gap: 5%;
}
.form div label{
   color: rgb(64, 63, 63);
   font-weight: bold;
   font-size: 13.5px;
}
.form div input{
   width: 95%;
   height: 25px;
   border-radius: 4px;
   border: 0.5px solid darkgrey;
   text-align: center;
   margin-top: 3px;
}
.btn_submit{
   width: 60px;
   padding: 6px 8px;
   background-color: rgb(81, 81, 224);
   color: white;
   border-radius: 4px;
   border: 0.5px solid darkgrey;
   margin-top: 10px;
   transition: 0.3s;
}
.btn_submit:hover{
   background-color: rgb(38, 38, 179);
   cursor: pointer;
}
.btn_submit:active{
   opacity: 0.3s;
}
.sales_table{
   width: 100%;
   margin-top: 5px;
   padding: 5px 4px;
   border-radius: 3px;
   background-color: white;
   border-collapse: collapse;
 
}
.sales_table thead{
   height: 46px;
   color: rgb(106, 9, 9);
   border-bottom: 0.9px solid rgb(46, 46, 46);
   background-color: rgb(248, 233, 174);
   color: rgb(49, 14, 14);
}
.sales_table thead tr th{
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid lightgrey;
}
tbody tr td{
   border: 0.5px solid lightgrey;
   height: 35px;
   text-align: center;
   font-size: 13px;
}
.total-row th{
   border: 1px solid rgb(142, 220, 103);
   height: 40px;
   background-color: rgb(197, 197, 197);

   
}
.total_result{
    text-align: right;
    padding-right: 5px;
    font-size: 14px;
}
.total{
    font-size: 14px;
}
.title{
   margin-top: 5px;
   color: grey;
   display: block;
   padding: 5px 0px;

}
.print_button{
   padding: 4px 10px;
   background-color: rgb(210, 246, 208);
   border: 1px solid rgb(31, 31, 31);
   border-radius: 3px;
   color: rgb(0, 0, 0);
   transition: 0.1s;
   font-weight: bolder;
   font-size: 12px;
   margin-top: 6px;
   transition: 0.3s;
  
}
.print_button:hover{
    background-color: rgb(194, 194, 194);
   cursor: pointer;
}
.print_button:active{
  opacity: 0.3;
}