
body{
   margin: 0;
   padding-top: 130px;
   box-sizing: border-box;
}
.dashboard-content{
 background-color: white;
 padding: 0px 1px;
 padding-bottom: 7px;
}
.content-title{
   background-color: rgb(76, 76, 117);;
   padding: 8px 10px;
   color: white;
   font-size: 13px;
   margin-bottom: 10px;
   border-radius: 4px;
}
.dashboard-body{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   row-gap: 15px;
   column-gap: 3%;
   padding: 5px 20px;
   min-height:400px;
}
.dashboard-body .db-box{
   height: 120px;
   border-radius: 5px;
   background-color: rgb(243, 243, 243);
   border: 0.5px solid rgb(233, 233, 233);
   box-shadow: 0.1px 0.3px 0.5px 0.2px lightgrey;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 1px 10%;
}
.db-box div{
   display: flex;
   align-items:end;
   margin-bottom: 5px;
}
.db-box h2, h5{
   color: rgb(111, 104, 104);
}
.img-size{
   height: 30px;
   width: 25px;
   margin-right: 4%;
}

@media screen and (max-width: 850px){
   body{
   margin: 0;
   padding-top: 100px;
   box-sizing: border-box;
}
   .dashboard-body{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 3%;
   row-gap: 5%;
   padding: 8px 15px;
}
.dashboard-body .db-box{
   height: 110px;
   border-radius: 5px;
   background-color: rgb(243, 243, 243);
   border: 0.5px solid rgb(233, 233, 233);
   box-shadow: 0.1px 0.3px 0.5px 0.2px lightgrey;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 1px 10%;
   row-gap: 8px;
}
.db-box div{
   display: flex;
   align-items:end;

}
.db-box h2, h5{
   color: rgb(111, 104, 104);
   font-size: 15px;
}
.img-size{
   height: 25px;
   width: 25px;
   margin-right: 4%;
}
}

@media screen and (max-width: 760px){
   body{
   margin: 0;
   padding-top: 100px;
   box-sizing: border-box;
}
   .dashboard-body{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 3%;
   row-gap: 5%;
   padding: 8px 15px;
   min-height: 460px;
   padding-bottom: 20px;
}
.dashboard-body .db-box{
   height: 70px;
   border-radius: 5px;
   background-color: rgb(243, 243, 243);
   border: 0.5px solid rgb(233, 233, 233);
   box-shadow: 0.1px 0.3px 0.5px 0.2px lightgrey;
   display: flex;
   flex-direction: column;
   justify-content: center;  
}
.db-box div{
   display: flex;
   align-items:end;

}
.db-box h2, h5{
   color: rgb(111, 104, 104);
   font-size: 13px;
}
.img-size{
   height: 20px;
   width: 20px;
   margin-right: 4%;
}
}