.form{
   padding: 20px 10px;
}
.form div{
   width: 50%;
}
.form div label{
   font-size: 14px;
   font-weight: bold;

}
.form div select{
   width: 100%;
   height: 30px;
   border: 1px solid grey;
   border-radius: 4px;
   text-align: center;
   margin-top: 5px;
}
.form div select:focus{
   background-color: aliceblue;
}
.purchase-st-form{
   margin-top: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 3%;
   background-color: white;
   border: 1px solid lightgrey;
   padding: 15px 5px;
   border-radius: 3px;
}

.purchase-st-form div label{
   color: rgb(47, 47, 47);
   font-size: 14px;
}
.purchase-st-form div input{
   border: 1px solid rgb(147, 147, 147);
   width: 99%;
   height: 22px;
   border-radius: 4px;
   margin-top: 3px;
   padding: 2px 5px;
}
.purchase-st-form div input:focus{
   background-color: aliceblue;
}

.pay-btn{

   width: 65px;
   background-color: green;
   color: white;
   transition: 0.3s;
}
.pay-btn:hover{
   background-color: rgb(25, 167, 25);
}
.payment-table{
   margin-top: 10px;
   background-color: white;
   border-collapse: collapse;
   width: 98%;
   border: 1px solid lightgrey;;
  
}
.payment-table thead{
   height: 30px;
}
.payment-table thead tr th{
    border: 1px solid rgb(197, 197, 197);
    font-size: 14px;
}
.payment-table thead tr{
   height: 40px;
}

.payment-table tbody tr td{
   border: 1px solid rgb(197, 197, 197);
   text-align: center;
   font-size: 13px;

}
.payment-table tbody tr{
   height: 34px;
}
.total-due{
   text-align: center;
}