.container-form{
   height: 170px;
   background-color: white;;
   padding: 5px 10px;
}
.form{
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-bottom: 40px;
}
.form div{
   padding: 5px 3px;
}
.form div label{
   font-size: 13px;
   font-weight: bold;
   color: rgb(58, 58, 58);
}
.form div input{
   width: 95%;
   height: 20px;
   padding: 5px 7px;
   border-radius:3px;
   border: 1px solid lightgrey;
   margin-top: 4px;
   font-size: 14px;
}
.button-btn{
   border-radius: 3px;
   border: 1px solid lightgrey;
   padding: 5px 5px;
   font-weight: bold;
   color: white;
   background-color: rgb(52, 146, 29);
   margin-top: 7px;
   padding: 6px 12px;
   width: 70px;
}
.button-btn:hover{
   background-color: rgb(43, 98, 40);
   cursor: pointer;
}
.button-btn:active{
   opacity: 0.9;
}
.suplier-list-container{
   margin-top: 30px;
    border: 1px solid lightgrey;
   padding: 5px 10px;
}
.suplier-list-container p{
   color: rgb(68, 67, 67);
   font-size: 15px;
   margin-top: 5px;
}
#row{
   padding: 6px 5px;
}
#row td{
   text-align: center;
}
#th{
   background-color: rgb(206, 244, 244);
   padding: 10px 5px;
}
#index{
   background-color: rgb(228, 227, 227);
}