*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   font-family: arial, sans-serif;
}
.navBar{
   background-color: #333;
   color: white;
   padding: 15px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.logo{
   font-size: 24px;
   font-weight: bold;
}
.nav-links{
   list-style-type: none;
   display: flex;
   gap: 20px;
}
.nav-links li a{
   color: white;
   text-decoration: none;
   font-weight: 500;

}
.menu-toggle{
   display: none;
   font-size: 28ps;
   cursor: pointer;
}

@media (max-width: 768px){
   .nav-links{
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      flex-direction: column;
      width: 300px;
      display: none;
   }

   .nav-links:active{
      display: flex;
     
   }
   .new-link{
      display: flex;
   }
   .menu-toggle{
      display: block;
   }
}
